[Desktop Entry]
Type=Application
Terminal=true
Name=Click-Script
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '~/Desktop/script.sh;$SHELL'"
Categories=Application;
